#Challenges{
  color: Red;
}
#Problems{
  color: orange;
}
#Results{
  color: yellow;
}
p{
  font-family: "comic sans";
  text-indent: 20px;

}
body{
  background-color: purple;
}
img {
    max-width:100%;
    height:auto;
}
